.loader {
  border: 5px solid #e6e7ec;
  border-top: 5px solid #3b416d;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.text-grey{
	color: #6c7191;
}